:root {
  --dim-gray-color: #626262;
  --shades-of-cloudy-color: #b4ad9e;
  --white-smoke-bg-color: #f0f0f0;
  --primary-white-color: #fff;
  --primary-black-color: #000;
  --transition-duration: 300ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

.is-scrolling-disabled {
  overflow: hidden;
}

.--overflow-hidden {
  overflow: hidden;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Inconsolata-Regular";
  src: url("../fonts/Inconsolata-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-style: normal;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.header {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 67px;
  padding-top: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
}

.header__content-wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.header__logo {
  font-family: "Inconsolata-Regular";
  text-transform: uppercase;
  font-size: 30px;
  text-align: start;
  letter-spacing: 0.21em;
  color: var(--primary-black-color);
}

.header__nav {
  width: 60%;
}

.header__list {
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  list-style: none;
}

.header__link {
  text-transform: uppercase;
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
}
.header__link:hover {
  color: var(--shades-of-cloudy-color);
}

.header-menu {
  position: relative;
  right: 0px;
  top: 20px;
  display: none;
}

.header-menu__icon {
  position: absolute;
  display: block;
  cursor: pointer;
  width: 30px;
  height: 18px;
  right: 16px;
  top: 0;
  z-index: 15;
}

.header-menu__icon span,
.header-menu__icon::before,
.header-menu__icon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-black-color);
  transition: all var(--transition-duration) ease 0s;
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration) ease 0s;
}

.header-menu__icon::before,
.header-menu__icon::after {
  content: "";
}

.header-menu__icon::before {
  top: 0;
}

.header-menu__icon::after {
  bottom: 0;
}

.header-menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
  -webkit-transform: scale(1) translate(0px, -50%);
}

.header-menu__icon.--pressed span {
  transform: scale(0) translate(0px, -50%);
  -webkit-transform: scale(0) translate(0px, -50%);
}

.header-menu__icon.--pressed::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
  background-color: var(--primary-white-color);
}

.header-menu__icon.--pressed::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
  -webkit-transform: rotate(45deg) translate(0px, 50%);
  background-color: var(--primary-white-color);
}

.--menu-button-hide {
  top: -68px;
}

.header-menu__wrapper {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(62, 62, 62, 0.95);
  visibility: hidden;
  opacity: 0;
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
}

.--menu-pressed {
  visibility: visible;
  opacity: 1;
}

.header-menu__logo {
  font-family: "Inconsolata-Regular";
  font-size: 40px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
}

.--menu-logo {
  color: var(--primary-black-color);
  font-size: 24px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0px 0px 0px 16px;
}

.header-menu__logo-link {
  color: inherit;
}

.--display-none {
  display: none;
}

.header-menu__nav {
  width: 100%;
  height: 50%;
}

.header-menu__list {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

@media (max-width: 767px) {
  .header {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .header__content-wrapper {
    display: none;
  }
  .header-menu {
    display: block;
  }
  .header-menu__link {
    font-family: "Ubuntu-Light";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--primary-white-color);
  }
}
::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(145, 145, 145);
  border-radius: 5px;
}

.container {
  max-width: 1074px;
  margin: 0 auto;
  padding: 0px 25px 0px 25px;
}

.small-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}

.--height {
  height: 100%;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: var(--white-smoke-bg-color);
}

.footer__content-wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.footer__text {
  min-width: 150px;
  width: 19%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  display: -ms-flexbox;
  -ms-flex-pack: distribute;
}

@media (min-width: 971px) {
  .footer__item:not(:last-child) {
    margin-right: 8px;
  }
}

.footer__left-text {
  color: var(--primary-black-color);
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
}

.footer__right-text {
  color: var(--primary-black-color);
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
}

.--animation-link-hover:hover {
  color: var(--shades-of-cloudy-color);
}

.footer__nav {
  width: 150px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  padding: 0;
}
.footer__list a:hover {
  color: var(--shades-of-cloudy-color);
}

.footer__link {
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
}

@media (max-width: 426px) {
  .footer__text {
    display: block;
  }
}
.slider {
  min-width: 90%;
  max-width: 100%;
  max-height: 100%;
  margin: 120px auto 90px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.slider__popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
}
.slider__popup img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.--popup-show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1023px) {
  .slider__popup img {
    width: auto;
  }
}
.music-second-block__title, .music-first-block__right-title, .music-first-block__title, .photodiary-second-block__title, .photodiary-first-block__title, .lifestyle-fourth-block__title, .lifestyle-third-block__title, .lifestyle-second-block__title, .lifestyle-first-block__title {
  font-family: "PlayfairDisplay";
  font-size: calc(20px + 0.7547169811vw);
  font-weight: 400;
  text-align: start;
  color: var(--dim-gray-color);
}

.music-third-block__comment-text, .music-third-block__comment-name, .music-first-block__right-text, .music-first-block__text, .photodiary-third-block__comment-text, .photodiary-third-block__comment-name, .photodiary-first-block__text, .lifestyle-fourth-block__text, .lifestyle-second-block__text, .lifestyle-first-block__text, .header__link, .footer__left-text, .footer__right-text, .footer__link {
  font-family: "PlayfairDisplay";
  font-size: calc(13px + 0.1132075472vw);
  font-weight: 400;
  color: var(--dim-gray-color);
  line-height: 1.5;
}

.music-third-block__links-wrapper, .music-third-block__input, .music-third-block__comment-reply, .music-third-block__comment-count, .music-second-block__sub-title, .music-first-block__right-sub-title, .music-first-block__right-link, .music-first-block__links-wrapper, .music-first-block__sub-title, .photodiary-third-block__links-wrapper, .photodiary-third-block__input, .photodiary-third-block__comment-reply, .photodiary-third-block__comment-count, .photodiary-second-block__sub-title, .photodiary-first-block__links-wrapper, .photodiary-first-block__sub-title, .lifestyle-fourth-block__sub-title, .lifestyle-second-block__sub-title, .lifestyle-first-block__sub-title {
  font-family: "Ubuntu-Light";
  font-size: calc(13px + 0.1132075472vw);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--shades-of-cloudy-color);
}

.lifestyle-first-block__wrapper {
  width: 100%;
}

.lifestyle-first-block__sub-title {
  margin: 55px 0px 30px 0px;
}

.lifestyle-first-block__title {
  margin: 30px 0px 30px 0px;
}

.lifestyle-second-block__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px 0px 100px 0px;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
@media (max-width: 1023px) {
  .lifestyle-second-block__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
}
@media (max-width: 767px) {
  .lifestyle-second-block__wrapper {
    margin: 0px 0px 70px 0px;
  }
}

.lifestyle-second-block__content-wrapper {
  width: 47%;
  margin: 80px 0px 0px 0px;
}
@media (max-width: 1023px) {
  .lifestyle-second-block__content-wrapper {
    width: 70%;
    margin: 40px 0px 0px 0px;
  }
}
@media (max-width: 426px) {
  .lifestyle-second-block__content-wrapper {
    width: 100%;
  }
}

.lifestyle-second-block__img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  -o-object-fit: cover;
}

.lifestyle-second-block__sub-title {
  margin: 25px 0px 25px 0px;
}
@media (max-width: 1023px) {
  .lifestyle-second-block__sub-title {
    margin: 10px 0px 10px 0px;
  }
}

.lifestyle-second-block__title {
  margin: 25px 0px 25px 0px;
}
@media (max-width: 1023px) {
  .lifestyle-second-block__title {
    font-size: calc(20px + 0.3773584906vw);
    margin: 10px 0px 10px 0px;
  }
}

.lifestyle-second-block__text {
  line-height: 1.4;
}
@media (max-width: 1023px) {
  .lifestyle-second-block__text {
    font-size: calc(12px + 0.1132075472vw);
  }
}

.lifestyle-third-block__wrapper {
  width: 100%;
  height: 290px;
  background-color: var(--white-smoke-bg-color);
}

.lifestyle-third-block__content-wrapper {
  height: 100%;
  padding: 30px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.lifestyle-third-block__form {
  width: 340px;
  height: 50px;
  border-bottom: 2px solid var(--primary-black-color);
  display: flex;
  justify-content: flex-end;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}
@media (max-width: 426px) {
  .lifestyle-third-block__form {
    width: 260px;
  }
}

.lifestyle-third-block__input {
  width: 79%;
  height: 50px;
  border: 0;
  background-color: var(--white-smoke-bg-color);
  border-bottom: 2px solid var(--primary-black-color);
  outline: none;
}

.lifestyle-third-block__button {
  height: 50px;
  width: 19%;
  border: 0;
  background-color: var(--white-smoke-bg-color);
  border-bottom: 2px solid var(--primary-black-color);
  font-size: 30px;
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
  cursor: pointer;
}
.lifestyle-third-block__button:hover {
  color: var(--shades-of-cloudy-color);
}

.lifestyle-fourth-block__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px 0px 100px 0px;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
@media (max-width: 1023px) {
  .lifestyle-fourth-block__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
}
@media (max-width: 767px) {
  .lifestyle-fourth-block__wrapper {
    margin: 0px 0px 70px 0px;
  }
}

.lifestyle-fourth-block__content-wrapper {
  width: 45%;
  margin: 80px 0px 0px 0px;
}
@media (max-width: 1023px) {
  .lifestyle-fourth-block__content-wrapper {
    width: 70%;
    margin: 40px 0px 0px 0px;
  }
}
@media (max-width: 426px) {
  .lifestyle-fourth-block__content-wrapper {
    width: 100%;
  }
}

.lifestyle-fourth-block__img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  -o-object-fit: cover;
}

.lifestyle-fourth-block__sub-title {
  margin: 25px 0px 25px 0px;
}
@media (max-width: 1023px) {
  .lifestyle-fourth-block__sub-title {
    margin: 10px 0px 10px 0px;
  }
}

.lifestyle-fourth-block__title {
  margin: 25px 0px 25px 0px;
}
@media (max-width: 1023px) {
  .lifestyle-fourth-block__title {
    font-size: calc(20px + 0.3773584906vw);
    margin: 10px 0px 10px 0px;
  }
}

.lifestyle-fourth-block__text {
  line-height: 1.4;
}
@media (max-width: 1023px) {
  .lifestyle-fourth-block__text {
    font-size: calc(12px + 0.1132075472vw);
  }
}

.lifestyle-fourth-block__button-wrapper {
  width: 100%;
  height: 60px;
  margin: 0px 0px 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.lifestyle-fourth-block__button {
  font-family: "PlayfairDisplay";
  width: 160px;
  height: 55px;
  border: 1px solid var(--primary-black-color);
  background-color: var(--primary-white-color);
  font-size: 20px;
  font-weight: 400;
  color: var(--dim-gray-color);
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
  cursor: pointer;
}
.lifestyle-fourth-block__button:hover {
  background-color: var(--dim-gray-color);
  color: var(--primary-white-color);
  border: 1px solid var(--dim-gray-color);
}

.photodiary-first-block__wrapper {
  width: 100%;
}

.photodiary-first-block__title {
  margin: 30px 0px 30px 0px;
}

.photodiary-first-block__text {
  margin: 20px 0px 20px 0px;
}

.photodiary-first-block__img {
  max-width: 100%;
  margin: 30px 0px 30px 0px;
}

.photodiary-first-block__text-italic {
  font-family: "PlayfairDisplay-Italic";
  font-style: italic;
  font-weight: 300;
  color: var(--dim-gray-color);
  padding: 0px 16px 0px 16px;
  font-size: calc(12px + 0.1132075472vw);
  line-height: 1.5;
}

.photodiary-first-block__links {
  display: flex;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.photodiary-first-block__links-wrapper {
  width: 190px;
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.photodiary-first-block__link {
  color: var(--shades-of-cloudy-color);
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
  margin: 0px 0px 50px 0px;
}
.photodiary-first-block__link:hover {
  color: var(--dim-gray-color);
}

.photodiary-second-block__wrapper {
  width: 100%;
  background-color: var(--white-smoke-bg-color);
  padding: 40px 0px 80px 0px;
}

.photodiary-second-block__sub-title {
  margin: 0px 0px 30px 0px;
}

.photodiary-second-block__content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
}
@media (max-width: 767px) {
  .photodiary-second-block__content-wrapper {
    justify-content: center;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
}

.photodiary-second-block__content-row {
  width: 31%;
}
@media (max-width: 767px) {
  .photodiary-second-block__content-row {
    width: 90%;
    margin: 30px 0px 30px 0px;
  }
}

.photodiary-second-block__img {
  width: 100%;
}

.photodiary-second-block__title {
  font-size: calc(15px + 0.3773584906vw);
}

.photodiary-third-block__wrapper {
  margin: 90px 0px 50px 0px;
}
.photodiary-third-block__wrapper img {
  width: 70px;
  height: 70px;
}

.photodiary-third-block__comment-count {
  margin: 20px 0px 20px 0px;
}

.photodiary-third-block__comment {
  margin: 35px 0px 35px 0px;
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.photodiary-third-block__comment-content {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: start;
  -ms-flex-align: start;
}
@media (max-width: 600px) {
  .photodiary-third-block__comment-content {
    width: 80%;
  }
}
@media (max-width: 481px) {
  .photodiary-third-block__comment-content {
    width: 75%;
  }
}
@media (max-width: 426px) {
  .photodiary-third-block__comment-content {
    width: 70%;
  }
}

.photodiary-third-block__comment-text {
  margin: 20px 0px 20px 0px;
}

.photodiary-third-block__join {
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.photodiary-third-block__input {
  width: 85%;
  border: 1px solid var(--shades-of-cloudy-color);
  border-radius: 6px;
  outline: none;
  padding: 10px;
}
@media (max-width: 600px) {
  .photodiary-third-block__input {
    width: 80%;
  }
}
@media (max-width: 481px) {
  .photodiary-third-block__input {
    width: 75%;
  }
}
@media (max-width: 426px) {
  .photodiary-third-block__input {
    width: 70%;
  }
}

.photodiary-third-block__links {
  margin: 30px 0px 30px 0px;
  display: flex;
  justify-content: flex-end;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.photodiary-third-block__links-wrapper {
  width: 190px;
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.photodiary-third-block__link {
  color: var(--shades-of-cloudy-color);
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
  margin: 0px 0px 50px 0px;
}
.photodiary-third-block__link:hover {
  color: var(--dim-gray-color);
}

.music-first-block__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.music-first-block__sub-wrapper {
  width: 980px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.music-first-block__left-side {
  width: 65%;
}

.music-first-block__title {
  margin: 30px 0px 30px 0px;
}

.music-first-block__text {
  margin: 20px 0px 20px 0px;
}

.music-first-block__img {
  max-width: 100%;
  margin: 30px 0px 30px 0px;
}

.music-first-block__text-italic {
  padding: 0px 16px 0px 16px;
  font-family: "PlayfairDisplay-Italic";
  font-style: italic;
  font-size: calc(12px + 0.1132075472vw);
  font-weight: 300;
  color: var(--dim-gray-color);
  line-height: 1.5;
}

.music-first-block__links {
  display: flex;
  justify-content: flex-end;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.music-first-block__links-wrapper {
  width: 190px;
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.music-first-block__link {
  color: var(--shades-of-cloudy-color);
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
  margin: 0px 0px 50px 0px;
}
.music-first-block__link:hover {
  color: var(--dim-gray-color);
}

.music-first-block__right-side {
  max-width: 30%;
  height: 900px;
  position: sticky;
  top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
@media (max-width: 1023px) {
  .music-first-block__right-side {
    top: -25px;
  }
}
@media (max-width: 840px) {
  .music-first-block__right-side {
    top: -65px;
  }
}

.music-first-block__right-img {
  width: 100%;
}

.music-first-block__right-title {
  font-size: calc(17px + 0.1886792453vw);
  margin: 7px 0px 7px 0px;
  align-self: flex-start;
  -ms-flex-item-align: start;
}

@media (max-width: 767px) {
  .--small-title {
    font-size: calc(14px + 0.1132075472vw);
  }
}
@media (max-width: 767px) {
  .music-first-block__right-text {
    font-size: calc(12px + 0.1132075472vw);
    align-self: flex-start;
    -ms-flex-item-align: start;
  }
}

.music-first-block__right-links {
  margin: 7px 0px 30px 0px;
  align-self: flex-start;
  -ms-flex-item-align: start;
}

.music-first-block__right-links-wrapper {
  width: 60px;
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.music-first-block__right-sub-title {
  align-self: flex-start;
  -ms-flex-item-align: start;
}

@media (max-width: 1023px) {
  .--small-sub-title {
    font-size: calc(10px + 0.1132075472vw);
  }
}
.music-first-block__right-list {
  align-self: flex-start;
  -ms-flex-item-align: start;
  margin-bottom: 30px;
}

.music-first-block__right-list-wrapper {
  padding: 0px 0px 0px 15px;
}

.music-first-block__right-list-item {
  list-style: disc;
  color: var(--dim-gray-color);
}

.music-first-block__right-special-img {
  max-width: 86%;
}

.music-second-block__wrapper {
  width: 100%;
  background-color: var(--white-smoke-bg-color);
  padding: 40px 0px 80px 0px;
}

.music-second-block__sub-title {
  margin: 0px 0px 30px 0px;
}

.music-second-block__content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
}

.music-second-block__content-row {
  width: 31%;
}

.music-second-block__img {
  width: 100%;
}

.music-second-block__title {
  font-size: calc(15px + 0.3773584906vw);
}

.music-third-block__wrapper {
  margin: 90px 0px 50px 0px;
}
.music-third-block__wrapper img {
  width: 70px;
  height: 70px;
}

.music-third-block__comment-count {
  margin: 20px 0px 20px 0px;
}

.music-third-block__comment {
  margin: 35px 0px 35px 0px;
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.music-third-block__comment-content {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: start;
  -ms-flex-align: start;
}
@media (max-width: 600px) {
  .music-third-block__comment-content {
    width: 80%;
  }
}
@media (max-width: 481px) {
  .music-third-block__comment-content {
    width: 75%;
  }
}
@media (max-width: 426px) {
  .music-third-block__comment-content {
    width: 70%;
  }
}

.music-third-block__comment-text {
  margin: 20px 0px 20px 0px;
}

.music-third-block__join {
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.music-third-block__input {
  width: 85%;
  border: 1px solid var(--shades-of-cloudy-color);
  border-radius: 6px;
  outline: none;
  padding: 10px;
}
@media (max-width: 600px) {
  .music-third-block__input {
    width: 80%;
  }
}
@media (max-width: 481px) {
  .music-third-block__input {
    width: 75%;
  }
}
@media (max-width: 426px) {
  .music-third-block__input {
    width: 70%;
  }
}

.music-third-block__links {
  margin: 30px 0px 30px 0px;
  display: flex;
  justify-content: flex-end;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.music-third-block__links-wrapper {
  width: 190px;
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.music-third-block__link {
  color: var(--shades-of-cloudy-color);
  transition: all var(--transition-duration);
  transition-timing-function: var(--cubic);
  -webkit-transition: all var(--transition-duration);
  margin: 0px 0px 50px 0px;
}
.music-third-block__link:hover {
  color: var(--dim-gray-color);
}

@media (max-width: 767px) {
  .music-first-block__left-side {
    width: 100%;
  }
  .music-first-block__right-side {
    width: 100%;
    height: auto;
    max-width: none;
    top: 0px;
    margin: 0px 0px 30px 0px;
  }
  .music-second-block__content-wrapper {
    justify-content: center;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .music-second-block__content-row {
    width: 90%;
    margin: 30px 0px 30px 0px;
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Inconsolata-Regular";
  src: url("../fonts/Inconsolata-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-style: normal;
}
.--strong-letter {
  color: black;
}

.scroll-to-top {
  position: relative;
}

.btn-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.btn-style {
  background-color: var(--dim-gray-color);
  border: 5px solid var(--shades-of-cloudy-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--primary-white-color);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.icon-style:hover {
  animation: none;
  background: var(--primary-black-color);
  color: var(--primary-white-color);
  border: 5px solid var(--dim-gray-color);
}

@keyframes movebtn {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px) rotate(360deg);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}/*# sourceMappingURL=main.css.map */