.container {
  max-width: 1074px;
  margin: 0 auto;
  padding: 0px 25px 0px 25px;
}

.small-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}

.--height {
  height: 100%;
}
