:root {
  --dim-gray-color: #626262;
  --shades-of-cloudy-color: #b4ad9e;
  --white-smoke-bg-color: #f0f0f0;
  --primary-white-color: #fff;
  --primary-black-color: #000;
  --transition-duration: 300ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
